:root {
  font-size: 14px;
}
html {
  height: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'roboto_condensedregular';
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
._keyfocus *:focus,
input:focus:not([disabled]),
textarea:focus:not([disabled]),
select:focus:not([disabled]) {
  box-shadow: none;
}
body {
  background: #ece8ea;
  line-height: 1;
  height: 100%;
}
body .page-main {
  position: relative;
  min-height: 523px;
  padding-top: 90px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.get-started-btn {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  background: #283142;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.get-started-btn:hover {
  background: #323d52;
}
.get-started-btn fa:before {
  vertical-align: middle;
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 1;
}
header .logo-container a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  text-decoration: none;
}
header .logo-container a img {
  max-width: 50px;
}
header .logo-container a:hover {
  opacity: 0.8;
}
header .logo-container h1 {
  color: #212121;
  font-family: 'roboto_condensedregular';
  margin-left: 10px;
}
header .account-container a {
  color: #212121;
  font-family: 'roboto_condensedregular';
  text-decoration: none;
  font-size: 16px;
}
header .account-container a:hover {
  text-decoration: underline;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url('../fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100px;
  margin: 0 10px 10px 0;
  z-index: 1;
}
.chat-container a {
  display: inline-block;
  max-width: 70px;
}
.chat-container a img {
  width: 100%;
}
.homepage-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 149px 0;
}
.info-container {
  margin-right: 20px;
}
.info-container h2 {
  font-size: 40px;
  font-family: 'roboto_condensedbold';
  margin-bottom: 10px;
  text-transform: uppercase;
}
.info-container span {
  display: block;
  font-size: 20px;
  font-family: 'roboto_condensedlight';
}
.info-container span:first-of-type {
  margin-bottom: 5px;
}
.info-container .get-started-btn {
  margin-top: 30px;
}
.image-container {
  width: 100%;
  max-width: 300px;
}
.image-container img {
  width: 100%;
}
.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.main-page .page-main {
  padding-top: 150px;
}
.main-info-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin: 20px 20px 0;
  background: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 20px 15px;
}
.main-info-container .company-logo {
  max-width: 150px;
  margin-right: 20px;
}
.main-info-container .company-logo img {
  width: 100%;
}
.main-info-container .information-block a {
  display: inline-block;
  font-size: 25px;
  font-family: 'roboto_condensedbold';
  text-decoration: none;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main-info-container .information-block a:hover {
  color: #ff191b;
}
.main-info-container .information-block p {
  font-size: 20px;
  font-family: 'roboto_condensedlight';
  line-height: 1.2;
}
.announcement-container {
  margin: 20px 0;
}
.announcement-container h2 {
  font-size: 30px;
  margin-left: 20px;
  padding: 25px 0;
}
footer {
  position: relative;
}
footer img {
  width: 100%;
}
footer p {
  position: absolute;
  bottom: 0;
  padding: 15px 20px;
  display: block;
  text-align: center;
  width: 100%;
  background: #212121;
  opacity: 0.9;
  color: #fff;
}
nav {
  padding-top: 90px;
}
nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 20px;
  background: #ff191b;
}
nav ul li > a {
  position: relative;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 15px 12px;
}
nav ul li > a:hover {
  background: #ff4c4e;
}
nav ul li > a:hover:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ff4c4e transparent transparent transparent;
  content: '';
}
.login-page .info-container span a {
  font-family: 'roboto_condensedbold';
  text-decoration: none;
  color: #212121;
}
.login-page .info-container span a:hover {
  text-decoration: underline;
}
.login-page .login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 120px 30px 30px;
}
.login-page .login-container .login-form {
  max-width: 400px;
  border-left: 1px solid #9d9f9f;
  padding-left: 30px;
  margin-left: 20px;
}
.login-page .login-container .login-form legend {
  display: inline-block;
  margin-bottom: 10px;
}
.login-page .login-container .login-form h3 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
}
.login-page .login-container .login-form input {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 12px;
  border: 1px solid #9d9f9f;
  font-family: 'roboto_condensedregular';
  font-size: 18px;
  color: #212121;
}
.login-page .login-container .login-form input::-webkit-input-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.login-page .login-container .login-form input::-moz-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.login-page .login-container .login-form input:-ms-input-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.login-page .login-container .login-form input:-moz-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.login-page .login-container .login-form input:focus {
  outline: none;
  border-color: #283142;
}
.login-page .login-container .login-form input.login-btn {
  background: #283142;
  margin-bottom: 0;
  font-family: 'roboto_condensedbold';
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.login-page .login-container .login-form input.login-btn:hover {
  background: #323d52;
}
.signup-page .info-container span a {
  font-family: 'roboto_condensedbold';
  text-decoration: none;
  color: #212121;
}
.signup-page .info-container span a:hover {
  text-decoration: underline;
}
.signup-page .signup-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 120px 30px 30px;
}
.signup-page .signup-container .signup-form {
  width: 50%;
  border-left: 1px solid #9d9f9f;
  padding-left: 30px;
  margin-left: 20px;
}
.signup-page .signup-container .signup-form select {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 100%;
  padding: 15px 12px;
  border: 1px solid #9d9f9f;
  margin-bottom: 10px;
}
.signup-page .signup-container .signup-form select:focus {
  outline: none;
  border-color: #283142;
}
.signup-page .signup-container .signup-form > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
}
.signup-page .signup-container .signup-form > div:last-of-type {
  margin-top: 10px;
}
.signup-page .signup-container .signup-form > div input {
  margin-bottom: 0;
  margin-right: 10px;
}
.signup-page .signup-container .signup-form > div input:last-child {
  margin-right: 0;
}
.signup-page .signup-container .signup-form legend {
  display: block;
  margin-bottom: 10px;
}
.signup-page .signup-container .signup-form h3 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}
.signup-page .signup-container .signup-form input[type="text"],
.signup-page .signup-container .signup-form input[type="password"] {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 15px 12px;
  border: 1px solid #9d9f9f;
  font-family: 'roboto_condensedregular';
  font-size: 18px;
  color: #212121;
}
.signup-page .signup-container .signup-form input[type="text"]::-webkit-input-placeholder,
.signup-page .signup-container .signup-form input[type="password"]::-webkit-input-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.signup-page .signup-container .signup-form input[type="text"]::-moz-placeholder,
.signup-page .signup-container .signup-form input[type="password"]::-moz-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.signup-page .signup-container .signup-form input[type="text"]:-ms-input-placeholder,
.signup-page .signup-container .signup-form input[type="password"]:-ms-input-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.signup-page .signup-container .signup-form input[type="text"]:-moz-placeholder,
.signup-page .signup-container .signup-form input[type="password"]:-moz-placeholder {
  color: #9d9f9f;
  font-family: 'roboto_condensedlight';
}
.signup-page .signup-container .signup-form input[type="text"]:focus,
.signup-page .signup-container .signup-form input[type="password"]:focus {
  outline: none;
  border-color: #283142;
}
.signup-page .signup-container .signup-form .signup-btn {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 100%;
  border: 0;
  background: #283142;
  margin-bottom: 0;
  font-family: 'roboto_condensedbold';
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 15px 12px;
}
.signup-page .signup-container .signup-form .signup-btn:hover {
  background: #323d52;
}
